<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
        Главная страница
        {% endblock %}
    </title>
    <!-- Css:-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}">
    {% block links %}{% endblock %}
    <!-- Scripts:-->
    <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jquery-3.6.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/date_picker_form.js') }}" defer></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    {% block scripts %}{% endblock %}

</head>
<body class="d-flex flex-column bg-light-subtle">
{% block body %}

{% block header %}
{% endblock %}

<div class="container text-center">
    {% block content %}
    {% endblock %}
</div>

{% block footer %}
{% endblock %}

{% endblock %}

</body>
</html>