{% extends "base.html" %}
{% block content %}
    <figure class="highcharts-figure">
        <div id="container"></div>
        <p class="highcharts-description">
            Описание графика
        </p>
    </figure>
    <script type="text/javascript">
        Highcharts.chart('container', {
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Заголовок графика'
            },
            subtitle: {
                text: 'Дополнительный текст'
            },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                accessibility: {
                    description: 'Months of the year'
                }
            },
            yAxis: {
                title: {
                    text: 'Руб'
                },
                labels: {
                    format: '{value}'
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [
            {% for category, dict_value in report_1_data.items() %}
                {
                    name: '{{ category }}',
                    marker: {
                        symbol: 'square'
                    },
                    data: [{% for number in dict_value.values() %}{{ number }},{% endfor %}]
                },
            {% endfor %}
            ]
        });

    </script>

{% endblock %}